<nb-layout>

  <nb-layout-header fixed>
    <h1>
      Company Name
    </h1>
  </nb-layout-header>

  <nb-sidebar>
    <div>
      <h3>
        Side Bar
      </h3>
    </div>
  </nb-sidebar>

  <nb-layout-column>

    <nb-card>
      <nb-card-header>Nebula</nb-card-header>
      <nb-card-body>
        A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
        Originally, nebula was a name for any diffuse astronomical object,
        including galaxies beyond the Milky Way.
      </nb-card-body>
      <nb-card-footer>By Wikipedia</nb-card-footer>
    </nb-card>

    <router-outlet></router-outlet>

  </nb-layout-column>

</nb-layout>